.BackToTopButton{
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: var(--third-color);
    background-image: var(--lg-heading);
    border: none;
    border-radius: 50%;
    transition: 200ms;
    position: fixed;
    right: 90px;
    bottom: 80px;
    z-index: 9999;
}

.BackToTopButton::before{
    content: 'Wróć na górę';
    position: absolute;
    transform: translateX(-50%) translateY(45px);
    font-size: 15px;
    transition: 200ms;
    color: transparent;
    font-weight: bold;
    width: 100%;
}

.BackToTopButton:hover::before{
    color: var(--third-color);
}

.BackToTopButton:hover{
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.BackToTopButton:hover svg{
    animation: getToTopBounce 2s infinite linear;
}

.BackToTopButton svg{
    fill: white;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes getToTopBounce {
    0% {transform: translateX(-50%) translateY(-50%)}
    25% {transform: translateX(-50%) translateY(-65%)}
    50% {transform: translateX(-50%) translateY(-50%)}
    75% {transform: translateX(-50%) translateY(-35%)}
    100% {transform: translateX(-50%) translateY(-50%)}
}

.BackToTopButton:focus {
    outline: none;
}

.BackToTopButtonHide{
    transform: translateY(300%);
}

.BackToTopButtonShow{
    transform: translateY(0px);
}

@media (pointer:coarse){
    .BackToTopButton::before{
        content: 'Wróć na górę';
        position: absolute;
        transform: translateX(-50%) translateY(45px);
        font-size: 15px;
        transition: 200ms;
        color: var(--fifth-color) !important;
        font-weight: 800;
        width: 100%;
    }
    
    .BackToTopButton svg{
        animation: getToTopBounce 2s infinite linear;
    }
}

@media screen and (max-width: 1150px) {
    .BackToTopButton{
        right: 30px !important;
    }
}

@media screen and (max-width: 600px) {
    .BackToTopButton{
        right: 15px !important;
    }
}