.SearchBoxFilters {
    position: absolute;
    z-index: 10;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size:15px;
    width: 120px;
    padding: 1px 0 0 20px;
    display: flex;
    text-align: left;
    background: var(--primary-color);
    border: none;
    outline: none;
    color: var(--fifth-color);
    cursor: pointer;
    font-weight: 500;
    -moz-appearance: none; 
    -webkit-appearance:none; 
    appearance:none;
    background-image: var(--selection-arrow);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 51%;
    background-size: 15px;
}

.SearchBoxFilter {
    font-weight: 800;
    letter-spacing: 0.5px;
}