.MainPageSection{
    width: 100%;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin-bottom: 3rem;
}

.MainPageContainer {
    width: 100%;
    position: relative;
}

@media screen and (min-width: 1040px) {
    .MainPageContainer {
    width: 1040px;
    margin: 0 auto;
    }
}

.NavMenuShow{
    right: 3% !important;
}

.MainPageGridTwoColumns {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.MainPageGridSecondColumn {
    width: 100%;
    height: 100%;
}

.MainPageGridFirstColumn {
    padding-top: 5rem;
    padding-left: 1.5rem;
}
.MainPageTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
}
.MainPageTitle span {
    color: var(--primary-color);
    font-weight: 200;
}
.MainPageDescription {
    margin-top: 1.5rem;
    font-size: 19px;
    line-height: 28px;
    color: var(--secondary-color);
    font-weight: 600;
}
.MainPageButtonsContainer {
    margin-top: 3.5rem;
    display: flex;
    width: 100%;
    color: var(--primary-color);
}
.MainPageButton {
    width: 110px;
    height: 50px;
    background-color: var(--primary-color);
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: 0.4s;
}
.MainPageButton:hover {
    transform: translateY(-3px);
}
.PlaylistButton {
    width: 180px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0;
    color: var(--fifth-color);
    font-weight: 500;
    margin-right: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.PlaylistButton i {
    margin-left: 0.3rem;
    transition: 0.5s transform;
}

.PlaylistButton:hover i{
    animation: playlistButtonBounce 2s infinite linear;
}

@keyframes playlistButtonBounce {
    0% {transform: translateY(0%)}
    25% {transform: translateY(7%)}
    50% {transform: translateY(0%)}
    75% {transform: translateY(-7%)}
    100% {transform: translateY(0%)}
}

.view_more_btn:hover {
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    background-color: var(--secondary-color);
}
.PropositionsButton {
    width: 150px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 0;
    background-color: transparent;
    box-shadow: 0 0.5rem 1.5rem rgba(25, 29, 42, 0.1);
}
.PropositionsButton:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(3, 4, 5, 0.322);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.MainPageImage {
    width: 500px;
    max-width: 100%;
    height: 440px;
    background-image: url(/src/Components/img/speaker.png);
    background-size:contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1150px){
    .MainPageSection{
        padding: 0 0.7rem;
        z-index: 2;
    }

    .MainPageGridFirstColumn{
        padding-left: 0rem;
    }

    .MainPageTitle{
        font-size: 35px;
    }

    .PlaylistButton{
        width: 140px;
        height: 55px;
        font-size: 13.5px;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 991px) {
    .MainPageGridTwoColumns{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .MainPageSection{
        padding-top: 3rem;
    }

    .MainPageGridFirstColumn{
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }

    .MainPageTitle{
        font-size: 32px;
        text-align: center;
        line-height: 40px;
    }

    .MainPageDescription{
        font-size: 16px;
        text-align: center;
        padding: 0.7rem;
    }

    .MainPageButtonsContainer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .MainPageGridSecondColumn{
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .MainPageImage{
        width: 350px;
        height: 350px;
    }
}