.MainHeader {
    width: 100%;
    position: relative;
}

@media screen and (min-width: 1040px) {
    .MainHeader {
    width: 1040px;
    margin: 0 auto;
    }
}

.MainHeaderAddon {
    height: var(--fixed-header-height);
    padding: 0 1.7rem;
}

.NavContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-weight: 300;
    top: 10px;
    z-index: 2;
}

.NavLogo {
    background-image: var(--logo);
    background-size: cover;
    width: 110px;
    height: 110px;
    background-size: 100%;
}

.NavMenuList {
    display: flex;
    align-items: center;
}

.NavMenuListItem {
    margin: 0 2rem;
}

.NavMenuListItem .NavMenuListItemLink {
    font-size: 16.5px;
    line-height: 27px;
    color: var(--primary-color);
    text-transform: capitalize;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.NavMenuListItemLink:hover {
    color: var(--secondary-color);
}

.NavMenuToggleButton {
    font-size: 20px;
    font-weight: 600;
    color: white;
    z-index: 2;
}

.NavCloseButton {
    display: none;
}

.NavMenuShow {
    right: 3% !important;
}

@media screen and (max-width: 1150px) {
    .NavMenu div{
        display: flex;
        flex-direction:row-reverse;
        justify-content: flex-start;
    
    }
    .NavMenu {
        position: fixed;
        width: 93%;
        height: 100%;
        top: 2.5%;
        right: -100%;
        background-color: var(--fifth-color);
        padding: 3rem;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
        z-index: 3;
        transition: 0.4s;
    }
    .NavMenuList {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 4rem;
    }
    .NavMenuListItem {
        margin: 1rem 0;
    }
    .NavMenuListItem .NavMenListItemLink {
        font-size: 18px;
    }
    .NavCloseButton {
        display:block;
        position: relative;
        font-size: 25px;
        color: var(--primary-color);
    }
}

@media screen and (min-width: 1150px) {
    .NavMenuToggleButton{
    display: none;
    }
    .NavMenu {
    display: block;
    }
}

@media screen and (max-width: 1150px) {
    .NavThemeChangeButton{
        position: relative;
        top: -8px !important;
        right: 110px !important;
    }

    .NavLogo h2{
        font-size: 23px;
    }
}