.authMenu {
    max-height: 90vh;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 var(--spacing-xl);

    background-color: var(--color-green-light);
    box-shadow:
        0 0 0 4px var(--color-black),
        4px 4px 0 4px var(--color-black);

    @media (min-width: 760px) {
    }

    --ui-text-input-color-bg: var(--color-green-light);
}

.authMenuBlackbox {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: var(--text-lg);
}

.authMenuLogoImg {
    width: var(--size-xl) !important;
    height: var(--size-xl) !important;
}

.authMenuForm {
    margin-bottom: var(--spacing-xl);
}
