.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__sm {
    height: var(--size-sm);
    padding: var(--spacing-sm);
    font-size: var(--text-sm);

    box-shadow:
        0 0 0 2px var(--color-black),
        3px 3px 0 2px var(--color-black);
}

.button__md {
    height: var(--size-md);
    padding: var(--spacing-md);
    font-size: var(--text-md);

    box-shadow:
        0 0 0 2px var(--color-black),
        4px 4px 0 2px var(--color-black);
}

.button__lg {
    height: var(--size-lg);
    padding: var(--spacing-lg);
    font-size: var(--text-lg);

    box-shadow:
        0 0 0 4px var(--color-black),
        5px 5px 0 4px var(--color-black);
}

.button__neutral {
    color: var(--color-black);
}

.button__inverted {
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid var(--color-white);
}

.button__primary {
    color: var(--color-black);
    background-color: var(--color-red);
}

.button__secondary {
    color: var(--color-black);
    background-color: var(--color-green);
}

.button__animated {
    transition:
        transform 0.05s ease-in-out,
        box-shadow 0.05s ease-in-out;

    &:hover.button__sm {
        box-shadow:
            0 0 0 2px var(--color-black),
            1px 1px 0 2px var(--color-black);

        transform: translate(2px, 2px);
    }

    &:hover.button__md {
        box-shadow:
            0 0 0 2px var(--color-black),
            2px 2px 0 2px var(--color-black);

        transform: translate(2px, 2px);
    }

    &:hover.button__lg {
        box-shadow:
            0 0 0 4px var(--color-black),
            2px 2px 0 4px var(--color-black);

        transform: translate(3px, 3px);
    }
}
