.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--ui-button-size);
    padding: calc(var(--ui-button-size) / 2);
    font-size: var(--ui-button-text);
    background-color: var(--ui-button-color-bg);
    color: var(--ui-button-color);

    box-shadow:
        0 0 0 2px var(--ui-button-color),
        4px 4px 0 2px var(--ui-button-color);

    &:hover {
        box-shadow:
            0 0 0 2px var(--ui-button-color),
            2px 2px 0 2px var(--ui-button-color);

        transform: translate(2px, 2px);
    }
}
