.close {
    font-size: var(--text-xl);
    color: var(--color-black);
    cursor: pointer;
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
    width: var(--size-md);
    height: var(--size-md);
    display: flex;
    align-items: center;
    justify-content: center;
}
