.currentlyPlaying {
    height: fit-content;
    margin-bottom: var(--spacing-xl);
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;

    border: 2px solid var(--color-white);
    box-shadow:
        0 0 0 4px var(--color-black),
        5px 5px 0 4px var(--color-black);
    width: 90vw;

    @media (min-width: 860px) {
        aspect-ratio: 2/1;
        flex-direction: row;
        height: 50vh;
        max-width: 90vw;
    }
}

.currentlyPlayingCover {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.currentlyPlayingInfo {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-lg);
    gap: var(--spacing-md);
}

.currentlyPlayingInfoItem {
    color: var(--color-white);
}
