.currentlyPlaying {
    height: fit-content;
    margin-bottom: var(--spacing-xl);
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;

    border: 2px solid var(--color-white);
    box-shadow:
        0 0 0 4px var(--color-black),
        5px 5px 0 4px var(--color-black);
    width: calc(100vw - 2 * var(--spacing-lg));

    min-height: 200px;

    @media (min-width: 860px) {
        width: fit-content;
        aspect-ratio: 2/1;
        flex-direction: row;
        height: 50vh;
        max-width: 90vw;
    }
}

.currentlyPlayingCover {
    aspect-ratio: 3/2;
    object-fit: cover;

    @media (min-width: 860px) {
        aspect-ratio: 1/1;
    }
}

.currentlyPlayingInfo {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-lg);
    gap: var(--spacing-md);
    width: fit-content;
}

.currentlyPlayingInfoItem {
    color: var(--color-white);
}

.currentlyPlayingEmpty {
    color: var(--color-white);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: var(--spacing-md);
    margin-left: var(--spacing-md);
}
