.Footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-lg);
    gap: var(--spacing-lg);
    width: 100%;
    background-color: var(--color-primary);
    color: white;
}

.FooterSpacer {
    width: 90vw;
    border-top: 2px solid var(--color-indigo-pale);
}

.FooterTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;

    @media (max-width: 560px) {
        flex-direction: column;
        gap: var(--spacing-md);
    }
}

.FooterTopHeader {
    font-size: var(--text-lg);
}

.FooterTopSocials {
    display: flex;
    gap: var(--spacing-sm);
    font-size: var(--text-xl);

    & a {
        padding: var(--spacing-xs);
        display: flex;
        aspect-ratio: 1/1;
    }
}

.FooterBody {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 100%;
    max-width: 1200px;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(1, 100%);
    }
}

.FooterBodyInfo {
    &:hover {
        & > h1::after {
            transform: translateX(1.5rem) scaleX(2.5);
        }
    }
}

.FooterBodyInfoList {
    font-size: var(--text-md);
    color: var(--color-indigo-pale);
}

.FooterBodyInfoLink {
    margin-bottom: var(--spacing-xxs);

    &:hover {
        text-decoration: underline;
    }
}

.FooterBodyInfoHeader {
    margin-bottom: var(--spacing-sm);
    font-weight: bold;
    font-size: var(--text-lg);
    color: var(--color-neutral-white);

    &::after {
        content: "";
        display: block;
        width: 2rem;
        height: 2px;
        background-color: var(--color-neutral-white);
        transition: transform 0.125s ease-in-out;
    }
}

.FooterBottom {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-md);
}

.FooterBottomCopyright {
    text-align: left;
    font-size: var(--text-sm);
    color: var(--color-text-inverted-accent);
}

.FooterBottomPolicyTerms {
    text-align: right;
    font-size: var(--text-sm);
    color: var(--color-text-inverted-accent);
}
