.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--size-md);
    height: var(--size-md);
    padding: var(--spacing-xs) var(--spacing-xxs);
    cursor: pointer;
}

.hamburger__right {
    align-items: end;
}

.hamburger__left {
    align-items: start;
}

.hamburger__hiddenOnMobile {
    @media (min-width: 760px) {
        display: none;
    }
}

.hamburgerDash {
    width: 100%;
    height: 4px;
    background-color: var(--color-black);
    transition: width 0.125s ease-in-out;
}

.hamburgerDash__colorInverted {
    background-color: var(--color-white);
}

.hamburgerDash__width100 {
    width: 100%;
}

.hamburgerDash__width70 {
    width: 70%;
}

.hamburgerDash__width40 {
    width: 40%;
}
