*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background-color: transparent;
}

button,
select,
input {
    outline: none;
    border: none;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    --color-indigo: #150685;
    --color-indigo-light: #2f209c;
    --color-indigo-lighter: #746fdd;
    --color-indigo-pale: #dcd8ff;
    --color-indigo-dark: #0c063a;
    --color-indigo-darker: #07032c;
    --color-indigo-black: #090914;

    --color-red: #ff0000;
    --color-red-light: #ff4d4d;
    --color-red-lighter: #ff7a7a;
    --color-red-pale: #ffcccc;
    --color-red-dark: #cf0000;
    --color-red-darker: #9b0000;
    --color-red-black: #2c0101;

    --color-neutral-light: #e7e7e7;
    --color-neutral-white: #ffffff;
    --color-neutral-dark: #333333;
    --color-neutral-black: #000000;

    --color-primary: var(--color-indigo);
    --color-primary-light: var(--color-indigo-light);
    --color-primary-lighter: var(--color-indigo-lighter);
    --color-primary-pale: var(--color-indigo-pale);
    --color-primary-dark: var(--color-indigo-dark);
    --color-primary-darker: var(--color-indigo-darker);
    --color-primary-black: var(--color-indigo-black);

    --color-secondary: var(--color-red);
    --color-secondary-light: var(--color-red-light);
    --color-secondary-lighter: var(--color-red-lighter);
    --color-secondary-pale: var(--color-red-pale);
    --color-secondary-dark: var(--color-red-dark);
    --color-secondary-darker: var(--color-red-darker);
    --color-secondary-black: var(--color-red-black);

    --color-text: var(--color-neutral-black);
    --color-text-alt: var(--color-neutral-dark);
    --color-text-inverted: var(--color-neutral-white);
    --color-text-inverted-alt: var(--color-neutral-light);

    --color-bg: var(--color-neutral-white);
    --color-bg-alt: var(--color-neutral-light);
    --color-bg-inverted: var(--color-neutral-black);
    --color-bg-inverted-alt: var(--color-neutral-dark);

    --color-shadow: #0c063a10;

    --mobile-text-sm: 0.75rem;
    --mobile-text-md: 1rem;
    --mobile-text-lg: 1.25rem;
    --mobile-text-xl: 1.75rem;
    --mobile-text-2xl: 2.5rem;

    --desktop-text-sm: 0.75rem;
    --desktop-text-md: 1rem;
    --desktop-text-lg: 1.5rem;
    --desktop-text-xl: 2.5rem;
    --desktop-text-2xl: 3.5rem;

    --text-sm: var(--mobile-text-sm);
    --text-md: var(--mobile-text-md);
    --text-lg: var(--mobile-text-lg);
    --text-xl: var(--mobile-text-xl);
    --text-2xl: var(--mobile-text-2xl);

    --mobile-spacing-xxs: 0.125rem;
    --mobile-spacing-xs: 0.25rem;
    --mobile-spacing-sm: 0.5rem;
    --mobile-spacing-md: 1rem;
    --mobile-spacing-lg: 1.5rem;
    --mobile-spacing-xl: 2rem;

    --desktop-spacing-xxs: 0.125rem;
    --desktop-spacing-xs: 0.25rem;
    --desktop-spacing-sm: 0.75rem;
    --desktop-spacing-md: 1.25rem;
    --desktop-spacing-lg: 1.75rem;
    --desktop-spacing-xl: 2.5rem;

    --mobile-size-xxs: 0.5rem;
    --mobile-size-xs: 1rem;
    --mobile-size-sm: 1.5rem;
    --mobile-size-md: 2rem;
    --mobile-size-lg: 3rem;
    --mobile-size-xl: 4rem;

    --desktop-size-xxs: 0.5rem;
    --desktop-size-xs: 1rem;
    --desktop-size-sm: 1.5rem;
    --desktop-size-md: 2rem;
    --desktop-size-lg: 3rem;
    --desktop-size-xl: 4rem;

    --spacing-xxs: var(--mobile-spacing-xxs);
    --spacing-xs: var(--mobile-spacing-xs);
    --spacing-sm: var(--mobile-spacing-sm);
    --spacing-md: var(--mobile-spacing-md);
    --spacing-lg: var(--mobile-spacing-lg);
    --spacing-xl: var(--mobile-spacing-xl);

    --size-xxs: var(--mobile-size-xxs);
    --size-xs: var(--mobile-size-xs);
    --size-sm: var(--mobile-size-sm);
    --size-md: var(--mobile-size-md);
    --size-lg: var(--mobile-size-lg);
    --size-xl: var(--mobile-size-xl);

    @media (min-width: 760px) {
        --text-sm: var(--desktop-text-sm);
        --text-md: var(--desktop-text-md);
        --text-lg: var(--desktop-text-lg);
        --text-xl: var(--desktop-text-xl);
        --text-2xl: var(--desktop-text-2xl);

        --spacing-xxs: var(--desktop-spacing-xxs);
        --spacing-xs: var(--desktop-spacing-xs);
        --spacing-sm: var(--desktop-spacing-sm);
        --spacing-md: var(--desktop-spacing-md);
        --spacing-lg: var(--desktop-spacing-lg);
        --spacing-xl: var(--desktop-spacing-xl);

        --size-xxs: var(--desktop-size-xxs);
        --size-xs: var(--desktop-size-xs);
        --size-sm: var(--desktop-size-sm);
        --size-md: var(--desktop-size-md);
        --size-lg: var(--desktop-size-lg);
        --size-xl: var(--desktop-size-xl);
    }

    --rounded-sm: 0.25rem;
    --rounded-md: 0.5rem;
    --rounded-lg: 1rem;
    --rounded-full: 999999px;

    --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='326' height='271.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

html.dark {
    --color-primary: var(--color-indigo-light);
    --color-primary-light: var(--color-indigo);
    --color-primary-lighter: var(--color-indigo-dark);
    --color-primary-pale: var(--color-indigo-darker);
    --color-primary-dark: var(--color-indigo-lighter);
    --color-primary-darker: var(--color-indigo-pale);
    --color-primary-black: var(--color-indigo-pale);

    --color-secondary: var(--color-red-light);
    --color-secondary-light: var(--color-red);
    --color-secondary-lighter: var(--color-red-dark);
    --color-secondary-pale: var(--color-red-darker);
    --color-secondary-dark: var(--color-red-lighter);
    --color-secondary-darker: var(--color-red-pale);
    --color-secondary-black: var(--color-red-pale);

    --color-text: var(--color-neutral-white);
    --color-text-alt: var(--color-neutral-light);
    --color-text-inverted: var(--color-neutral-black);
    --color-text-inverted-alt: var(--color-neutral-dark);

    --color-bg: var(--color-indigo-black);
    --color-bg-alt: var(--color-neutral-dark);
    --color-bg-inverted: var(--color-neutral-white);
    --color-bg-inverted-alt: var(--color-neutral-light);

    --color-shadow: #dcd8ff20;

    --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='326' height='271.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#root {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
