*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background-color: transparent;
}

button,
select,
input {
    outline: none;
    border: none;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    --color-blue: #1631ac;
    --color-blue-light: #2f209c;
    --color-blue-lighter: #746fdd;
    --color-blue-pale: #d4cfff;
    --color-blue-dark: #0c063a;
    --color-blue-darker: #07032c;
    --color-blue-black: #090914;

    --color-red: #ff0000;
    --color-red-light: #ff1d1d;
    --color-red-lighter: #ff7a7a;
    --color-red-pale: #ffcccc;
    --color-red-dark: #cf0000;
    --color-red-darker: #9b0000;
    --color-red-black: #2c0101;

    --color-green: #3cc412;
    --color-green-light: #64e23e;
    --color-green-lighter: #7cd361;
    --color-green-pale: #b7daad;
    --color-green-dark: #2a8b0c;
    --color-green-darker: #225c10;
    --color-green-black: #164707;

    --color-yellow: #f3d112;
    --color-yellow-light: #ebcd27;
    --color-yellow-lighter: #e7cd37;
    --color-yellow-pale: #f3eab9;
    --color-yellow-dark: #c7aa03;
    --color-yellow-darker: #806c01;
    --color-yellow-black: #2b2502;

    --color-white: #fff4f4;
    --color-lighter: #dddddd;
    --color-light: #bbbbbb;

    --color-black: #000000;
    --color-darker: #222222;
    --color-dark: #444444;

    --mobile-text-sm: 0.75rem;
    --mobile-text-md: 1rem;
    --mobile-text-lg: 1.25rem;
    --mobile-text-xl: 1.75rem;
    --mobile-text-2xl: 2.5rem;

    --desktop-text-sm: 0.75rem;
    --desktop-text-md: 1rem;
    --desktop-text-lg: 1.5rem;
    --desktop-text-xl: 2.5rem;
    --desktop-text-2xl: 3.5rem;

    --text-sm: var(--mobile-text-sm);
    --text-md: var(--mobile-text-md);
    --text-lg: var(--mobile-text-lg);
    --text-xl: var(--mobile-text-xl);
    --text-2xl: var(--mobile-text-2xl);

    --mobile-spacing-xxs: 0.125rem;
    --mobile-spacing-xs: 0.25rem;
    --mobile-spacing-sm: 0.5rem;
    --mobile-spacing-md: 1rem;
    --mobile-spacing-lg: 1.5rem;
    --mobile-spacing-xl: 2rem;

    --desktop-spacing-xxs: 0.125rem;
    --desktop-spacing-xs: 0.25rem;
    --desktop-spacing-sm: 0.75rem;
    --desktop-spacing-md: 1.25rem;
    --desktop-spacing-lg: 1.75rem;
    --desktop-spacing-xl: 2.5rem;

    --mobile-size-xxs: 0.5rem;
    --mobile-size-xs: 1rem;
    --mobile-size-sm: 1.25rem;
    --mobile-size-md: 2.5rem;
    --mobile-size-lg: 3.5rem;
    --mobile-size-xl: 5rem;

    --desktop-size-xxs: 0.5rem;
    --desktop-size-xs: 1rem;
    --desktop-size-sm: 1.5rem;
    --desktop-size-md: 2.75rem;
    --desktop-size-lg: 4rem;
    --desktop-size-xl: 6rem;

    --spacing-xxs: var(--mobile-spacing-xxs);
    --spacing-xs: var(--mobile-spacing-xs);
    --spacing-sm: var(--mobile-spacing-sm);
    --spacing-md: var(--mobile-spacing-md);
    --spacing-lg: var(--mobile-spacing-lg);
    --spacing-xl: var(--mobile-spacing-xl);

    --size-xxs: var(--mobile-size-xxs);
    --size-xs: var(--mobile-size-xs);
    --size-sm: var(--mobile-size-sm);
    --size-md: var(--mobile-size-md);
    --size-lg: var(--mobile-size-lg);
    --size-xl: var(--mobile-size-xl);

    /* text-input component */
    --text-input-color-bg: var(--color-white);
    --text-input-color-placeholder: var(--color-dark);
    --text-input-color-neutral: var(--color-black);
    --text-input-color-error: var(--color-red);
    --text-input-color-ok: var(--color-black);

    @media (min-width: 760px) {
        --text-sm: var(--desktop-text-sm);
        --text-md: var(--desktop-text-md);
        --text-lg: var(--desktop-text-lg);
        --text-xl: var(--desktop-text-xl);
        --text-2xl: var(--desktop-text-2xl);

        --spacing-xxs: var(--desktop-spacing-xxs);
        --spacing-xs: var(--desktop-spacing-xs);
        --spacing-sm: var(--desktop-spacing-sm);
        --spacing-md: var(--desktop-spacing-md);
        --spacing-lg: var(--desktop-spacing-lg);
        --spacing-xl: var(--desktop-spacing-xl);

        --size-xxs: var(--desktop-size-xxs);
        --size-xs: var(--desktop-size-xs);
        --size-sm: var(--desktop-size-sm);
        --size-md: var(--desktop-size-md);
        --size-lg: var(--desktop-size-lg);
        --size-xl: var(--desktop-size-xl);
    }
}

body {
    color: var(--color-black);
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#root {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
