.mainWraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-lg);
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 2 * var(--spacing-sm));

    @media (min-width: 860px) {
        flex-direction: row-reverse;
    }
}

.mainImg {
    height: 20rem;
    aspect-ratio: initial;
}

.mainContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: var(--spacing-lg);

    @media (min-width: 860px) {
        text-align: left;
    }
}

.mainContentHeader {
    font-size: var(--text-xl);
    font-weight: bold;
    color: var(--color-red);

    @media (max-width: 400px) {
        font-size: var(--text-lg);
    }
}

.mainContentParagraph {
    font-size: var(--text-md);
    max-width: 500px;
    align-self: center;
    line-height: 1.5em;
}

.mainContentCTAWraper {
    display: flex;
    gap: var(--spacing-lg);
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 860px) {
        align-self: flex-start;
    }
}

.mainContentCTAButton {
    font-weight: bold;
    cursor: pointer;
}

.mainContentCTAIcon {
    font-size: var(--text-md);
    margin-left: var(--spacing-xs);
}
