*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background-color: transparent;
}

button,
select,
input {
    outline: none;
    border: none;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    --color-indigo: #150685;
    --color-indigo-light: #2f209c;
    --color-indigo-lighter: #746fdd;
    --color-indigo-secondary-lighter: #685dba;
    --color-indigo-secondary-lighter-alt: #685dba;
    --color-indigo-pale: #dcd8ff;
    --color-indigo-dark: #0c063a;
    --color-indigo-darker: #07032c;
    --color-indigo-black: #090914;

    --color-red: #ff0000;
    --color-red-light: #ff4d4d;
    --color-red-lighter: #ff7a7a;
    --color-red-pale: #ffcccc;
    --color-red-dark: #cf0000;
    --color-red-darker: #9b0000;
    --color-red-black: #2c0101;

    --color-neutral-light: #e7e7e7;
    --color-neutral-white: #ffffff;
    --color-neutral-dark: #333333;
    --color-neutral-black: #000000;

    --color-primary: var(--color-indigo);
    --color-primary-light: var(--color-indigo-light);
    --color-primary-lighter: var(--color-indigo-lighter);
    --color-primary-pale: var(--color-indigo-pale);
    --color-primary-dark: var(--color-indigo-dark);
    --color-primary-darker: var(--color-indigo-darker);
    --color-primary-black: var(--color-indigo-black);
    --color-primary-lighter-alt: var(--color-indigo-secondary-lighter-alt);

    --color-secondary: var(--color-red);
    --color-secondary-light: var(--color-red-light);
    --color-secondary-lighter: var(--color-red-lighter);
    --color-secondary-pale: var(--color-red-pale);
    --color-secondary-dark: var(--color-red-dark);
    --color-secondary-darker: var(--color-red-darker);
    --color-secondary-black: var(--color-red-black);

    --color-text: var(--color-neutral-black);
    --color-text-alt: var(--color-neutral-dark);
    --color-text-inverted: var(--color-neutral-white);
    --color-text-inverted-alt: var(--color-neutral-light);

    --color-bg: var(--color-neutral-white);
    --color-bg-alt: var(--color-neutral-light);
    --color-bg-inverted: var(--color-neutral-black);
    --color-bg-inverted-alt: var(--color-neutral-dark);

    --mobile-text-sm: 0.75rem;
    --mobile-text-md: 1rem;
    --mobile-text-lg: 1.25rem;
    --mobile-text-xl: 1.75rem;
    --mobile-text-2xl: 2.5rem;

    --desktop-text-sm: 0.75rem;
    --desktop-text-md: 1rem;
    --desktop-text-lg: 1.5rem;
    --desktop-text-xl: 2.5rem;
    --desktop-text-2xl: 3.5rem;

    --text-sm: var(--mobile-text-sm);
    --text-md: var(--mobile-text-md);
    --text-lg: var(--mobile-text-lg);
    --text-xl: var(--mobile-text-xl);
    --text-2xl: var(--mobile-text-2xl);

    --mobile-spacing-xxs: 0.125rem;
    --mobile-spacing-xs: 0.25rem;
    --mobile-spacing-sm: 0.5rem;
    --mobile-spacing-md: 1rem;
    --mobile-spacing-lg: 1.5rem;
    --mobile-spacing-xl: 2rem;

    --desktop-spacing-xxs: 0.125rem;
    --desktop-spacing-xs: 0.25rem;
    --desktop-spacing-sm: 0.75rem;
    --desktop-spacing-md: 1.25rem;
    --desktop-spacing-lg: 1.75rem;
    --desktop-spacing-xl: 2.5rem;

    --mobile-size-xxs: 0.5rem;
    --mobile-size-xs: 1rem;
    --mobile-size-sm: 2rem;
    --mobile-size-md: 2.5rem;
    --mobile-size-lg: 3.5rem;
    --mobile-size-xl: 5rem;

    --desktop-size-xxs: 0.5rem;
    --desktop-size-xs: 1rem;
    --desktop-size-sm: 1.5rem;
    --desktop-size-md: 3rem;
    --desktop-size-lg: 5rem;
    --desktop-size-xl: 7rem;

    --spacing-xxs: var(--mobile-spacing-xxs);
    --spacing-xs: var(--mobile-spacing-xs);
    --spacing-sm: var(--mobile-spacing-sm);
    --spacing-md: var(--mobile-spacing-md);
    --spacing-lg: var(--mobile-spacing-lg);
    --spacing-xl: var(--mobile-spacing-xl);

    --size-xxs: var(--mobile-size-xxs);
    --size-xs: var(--mobile-size-xs);
    --size-sm: var(--mobile-size-sm);
    --size-md: var(--mobile-size-md);
    --size-lg: var(--mobile-size-lg);
    --size-xl: var(--mobile-size-xl);

    @media (min-width: 760px) {
        --text-sm: var(--desktop-text-sm);
        --text-md: var(--desktop-text-md);
        --text-lg: var(--desktop-text-lg);
        --text-xl: var(--desktop-text-xl);
        --text-2xl: var(--desktop-text-2xl);

        --spacing-xxs: var(--desktop-spacing-xxs);
        --spacing-xs: var(--desktop-spacing-xs);
        --spacing-sm: var(--desktop-spacing-sm);
        --spacing-md: var(--desktop-spacing-md);
        --spacing-lg: var(--desktop-spacing-lg);
        --spacing-xl: var(--desktop-spacing-xl);

        --size-xxs: var(--desktop-size-xxs);
        --size-xs: var(--desktop-size-xs);
        --size-sm: var(--desktop-size-sm);
        --size-md: var(--desktop-size-md);
        --size-lg: var(--desktop-size-lg);
        --size-xl: var(--desktop-size-xl);
    }

    --rounded: 0.35rem;
    --rounded-full: 999999px;
}

html.dark {
    --color-primary: var(--color-indigo-light);
    --color-primary-light: var(--color-indigo);
    --color-primary-lighter: var(--color-indigo-dark);

    --color-primary-pale: var(--color-indigo-darker);
    --color-primary-dark: var(--color-indigo-lighter);
    --color-primary-lighter-alt: var(--color-indigo-secondary-lighter);
    --color-primary-darker: var(--color-indigo-pale);
    --color-primary-black: var(--color-indigo-pale);

    --color-secondary: var(--color-red-light);
    --color-secondary-light: var(--color-red);
    --color-secondary-lighter: var(--color-red-dark);
    --color-secondary-pale: var(--color-red-darker);
    --color-secondary-dark: var(--color-red-lighter);
    --color-secondary-darker: var(--color-red-pale);
    --color-secondary-black: var(--color-red-pale);

    --color-text: var(--color-neutral-white);
    --color-text-alt: var(--color-neutral-light);
    --color-text-inverted: var(--color-neutral-black);
    --color-text-inverted-alt: var(--color-neutral-dark);

    --color-bg: var(--color-indigo-black);
    --color-bg-alt: var(--color-neutral-dark);
    --color-bg-inverted: var(--color-neutral-white);
    --color-bg-inverted-alt: var(--color-neutral-light);

    --color-sign-input: var(--color-primary-lighter-alt);
    --color-sign-submit: var(--color-indigo-light);
    --color-sign-submit-hover: var(--color-primary-dark);

    --color-shadow: #dcd8ff20;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#root {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
