.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--size-md);
    gap: var(--spacing-md);
    border-radius: var(--rounded-md);
    background-color: var(--color-primary-pale);
    box-shadow:
        0 0 0 2px var(--color-bg-inverted),
        2px 2px 0 2px var(--color-bg-inverted);

    transition: box-shadow 0.075s ease-in-out;

    &:focus-within,
    &:hover {
        box-shadow:
            0 0 0 2px var(--color-bg-inverted),
            4px 4px 0 4px var(--color-bg-inverted);
    }
}

.searchInput {
    height: 100%;
    color: var(--color-text);
    font-size: var(--text-md);
}

.searchSelectWraper {
    height: 100%;
    padding: 0 var(--spacing-md);
    display: grid;
    place-items: center;
    border-right: 2px solid var(--color-text);
}

.searchSelect {
    font-size: var(--text-sm);
    font-weight: bold;
    color: var(--color-text);
}

.searchButton {
    height: 100%;
    aspect-ratio: 1/1;
    border-left: 2px solid var(--color-text);
    cursor: pointer;
}

.searchButtonIcon {
    color: var(--color-text);
    font-size: var(--text-md);
}
