.signVisibilityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.578);
}

.signContainer {
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.signUpperSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.signUpClose {
    align-self: flex-end;
    cursor: pointer;
    color: var(--color-text);
}

.signForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.passwordContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.signNameInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-neutral-light);
    color: var(--color-text);
}

.signEmailInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-neutral-light);
    color: var(--color-text);
}

.signPasswordInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-neutral-light);
    width: 100%;
    color: var(--color-text);
}

.signSchoolIdInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-neutral-light);
    color: var(--color-text);
}

.signButton {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;

    &:hover {
        background-color: var(--color-primary-darker);
    }
}

.showPasswordCheckbox {
    display: none;
}

.showPasswordCheckboxLabel {
    font-size: 12px;
    margin-top: 3px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.toggleSignUpIn {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.toggleSignUpInButton {
    color: var(--color-secondary);
    cursor: pointer;

    &:hover {
        color: var(--color-secondary-darker);
        text-decoration: underline;
    }
}

.signVisibilityContainerHidden {
    display: none !important;
}
