.textInputWraper {
    position: relative;
    font-size: var(--ui-text-input-text);
    height: var(--ui-text-input-size);
    min-width: calc(6 * var(--ui-text-input-size));
}

.textInputWraper__neutral {
    box-shadow: 0 0 0 2px var(--ui-text-input-color);
}

.textInputWraper__error {
    box-shadow: 0 0 0 2px var(--ui-text-input-color-error);
}

.textInputWraper__valid {
    box-shadow: 0 0 0 2px var(--ui-text-input-color-valid);
}

.textInput {
    width: 100%;
    height: 100%;
    padding: calc(var(--ui-text-input-size) / 2);
}

.textInput__neutral {
    box-shadow: 0 0 0 2px var(--ui-text-input-color);
}

.textInput__error {
    box-shadow: 0 0 0 2px var(--ui-text-input-color-error);
}

.textInput__valid {
    box-shadow: 0 0 0 2px var(--ui-text-input-color-valid);
}

.textInputLabel {
    position: absolute;
    left: calc(var(--ui-text-input-size) / 2 - var(--spacing-sm));
    user-select: none;
    font-size: var(--ui-text-input-text);
    padding: 0 var(--spacing-sm);

    transition: all 0.125s ease-in-out;
}

.textInputLabel__neutral {
    color: var(--ui-text-input-color);
    --local-color: var(--ui-text-input-color);
}

.textInputLabel__error {
    color: var(--ui-text-input-color-error);
    --local-color: var(--ui-text-input-color-error);
}

.textInputLabel__valid {
    color: var(--ui-text-input-color-valid);
    --local-color: var(--ui-text-input-color-valid);
}

.textInputLabel__hidden {
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: var(--ui-text-input-color-placeholder) !important;
    box-shadow: 0 0 0 0 var(--local-color);
}

.textInputLabel__active {
    top: 0;
    transform: translateY(-75%);
    background-color: var(--ui-text-input-color-bg);
    color: var(--local-color);
    box-shadow: 0 0 0 2px var(--local-color);
}
