.themeSwitch {
    height: 2rem;
    width: 6rem;
    border-radius: var(--rounded-md);
    border: var(--color-bg-inverted) solid 1px;
}

.themeSwitch__dark {
}

.themeSwitch__light {
}

.themeSwitchIcon {
}

.themeSwitchTrigger {
}
