.toggle {
    --padding: var(--spacing-xs);

    position: relative;
    height: var(--size-md);
    aspect-ratio: 2/1;
    padding: var(--padding);
    box-shadow: 0 0 0 2px var(--color-bg-inverted) inset;
    border-radius: var(--rounded-full);
    cursor: pointer;
}

.toggle__off {
}

.toggle__on {
}

.toggleSwitch {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100%);
    width: calc(50%);
    background-color: var(--color-bg-inverted);
    border-radius: var(--rounded-full);

    transition: transform 0.125s ease-in-out;
}

.toggleSwitch__off {
    transform: translateX(0);
}

.toggleSwitch__on {
    transform: translateX(100%);
}

.slotLeft {
    position: absolute;
    top: var(--padding);
    left: var(--padding);
    height: calc(100% - 2 * var(--padding));
    width: calc(50% - 1 * var(--padding));
    display: flex;
    align-items: center;
    justify-content: center;
}
.slotRight {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    height: calc(100% - 2 * var(--padding));
    width: calc(50% - 1 * var(--padding));
    display: flex;
    align-items: center;
    justify-content: center;
}
