.toggle {
    --padding: var(--spacing-xs);

    position: relative;
    height: var(--size-md);
    aspect-ratio: 2/1;
    padding: var(--padding);
    border: 2px solid var(--color-bg-inverted);
    border-radius: var(--rounded-full);
    cursor: pointer;
}

.toggle__off {
}

.toggle__on {
}

.toggleSwitch {
    position: absolute;
    top: var(--spacing-xs);
    left: var(--spacing-xs);
    height: calc(100% - 2 * var(--padding));
    width: calc(50% - 1 * var(--padding));
    border: 2px solid var(--color-bg-inverted);
    border-radius: var(--rounded-full);

    transition: transform 0.125s ease-in-out;
}

.toggleSwitch__off {
    transform: translateX(0);
}

.toggleSwitch__on {
    transform: translateX(100%);
}

.slot {
}
