.toggle {
    width: var(--size-xl);
    height: var(--size-md);

    border: 2px solid var(--color-primary-dark);
    border-radius: var(--rounded-md);

    background-color: var(--color-indigo-pale);
}

.toggle__off {
}

.toggle__on {
}

.toggleSwitch {
}

.toggleSwitch__on {
}

.toggleSwitch__off {
}

.slot {
}
